<div class="signup-form">
    <img src="shopilator.jpg">
            <h1>Better Manage Your Grocery Time!</h1>
            <p> <strong>Create an account on Shopilator to access free budegeting tools.</strong> </p>

    <%= form_for @user do |f| %>
        <%= f.text_field :username, placeholder: "Name", class: "input-box"%> <br>
        <%= f.email_field :email, placeholder: "Email", class: "input-box"%> <br>
        <%= f.password_field :password, placeholder: "Password", class: "input-box" %> <br>
        <%= f.submit "Login", class: "signup-btn"%><br>
        <hr>
            <p class="or">OR</p>
            <button type="button" class="twitter-btn">Login with Twitter</button><br>
            <p class="has-acount"> Already have and account? <%= link_to "LOGIN", login_path %> </p>

    <% end %>
</div>
