<%= render 'partials/header'%>

<h1>Shopping Lists:</h1>


    <% @lists.each do |list| %>

    <table id="list-table" >
        <tr id="list-tr" >
            <td class="list-td" id="date">
                <label id="month-day"><%= list.created_at.strftime("%b %d") %></label><br>
                <label id="year"><%= list.created_at.strftime("%Y") %></label>
            </td>
            <td class="list-td" id="details"> 
                <label ><a id="list-name" href="/shopping_lists/<%=list.id%>"><%=list.name%></a></label>
                <label> <a href="/" class="view-item-list"></a></label><br>
                <label id="store-name"><%= list.store.name + " - Budget: $" + list.budget.to_s %></label>
            </td> 
            <td class="list-td" id="budget">
                <% if list.items.sum(:price) == 0 %>
                    <label class="no-total">No Items Added</label>
                <% elsif list.budget >= list.items.sum(:price) %>
                    <label class="total" style="color:green">$<%= list.items.sum(:price).truncate(2) %></label><br>
                    <label id="store-name">+<%= (list.budget - list.items.sum(:price)).truncate(2) %> saved</label>
                <% elsif list.budget < list.items.sum(:price) %>
                    <label class="total" style="color:red">$<%= list.items.sum(:price).truncate(2) %></label><br>
                    <label id="store-name">-<%= (list.items.sum(:price) - list.budget).truncate(2) %> over budget </label>
                <% end %>
                    
            </td>
            <td class="list-td" id="list-options">
                <label><%= button_to "EDIT", edit_shopping_list_path(list), method: :get, id: "edit-list" %></label><br> 
                <label><%= button_to "DELETE", shopping_list_path(list), method: :delete, id: "delete-list" %> </label>
            </td>  
        </tr>
    </table>
    <% end %>

<br>
<br>

<%= will_paginate @lists, previous_label: "< Newest",
    next_label: "Older >", inner_window: 1, outer_widow: 0, class: "list-pages"%>

<%= link_to "Create A New List", new_user_shopping_list_path, id:"create"%>

