<nav>
    
    <input type="checkbox" id="check">
    
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
        </label>
        
    <img src="https://i.ibb.co/GWnZgd2/shopilator-logo-wht-nobkg.png" id="logoimg">
    <label class="user-title"><%=@user.username%></label>

        <ul>
            <li> <a href="/" class="header-link">Account</a></li>
            <li><a href="/" class="header-link">My Lists</a></li>
            <li><a href="/" class="header-link">Create A New List</a></li>
            <li><a href="/" class="header-link">Contact</a></li>
            <li><a href="/logout" class="header-link">Logout</a></li>
        </ul>
</nav>

<h1>Shopping Lists:</h1>


    <% @lists.each do |list| %>

    <table id="list-table" >
        <tr id="list-tr" >
            <td class="list-td" id="date">
                <label id="month-day">JAN 01</label><br>
                <label id="year">2020</label>
            </td>
            <td class="list-td" id="details"> 
                <label ><a id="list-name" href="/users/<%=current_user.id%>/shopping_lists/<%=list.id%>"><%=list.name%></a></label>
                <label> <a href="/" class="view-item-list"></a> View List</label><br>
                <label id="store-name"><%= list.store_id %> {STORE NAME HERE}</label>
            </td> 
            <td class="list-td" id="budget">
                <label id="total">$100</label>
            </td>
            <td class="list-td" id="list-options">
                <label id="edit-list">EDIT</label><br>
                <label id="delete-list">DELETE</label>
            </td>  
        </tr>
    </table>
    <% end %>

<br>
<br>

<%= link_to "Create A New List", new_user_shopping_list_path, id:"create"%>

