<%= render 'partials/header'%>

<label><%= notice %> </label>

<h1><%=@list.name%></h1>

<h2 class="list-td">
BUDGET: 
    <% if @list.budget >= @list.items.sum(:price) %>
        <label style="color:green">$<%= @list.budget %></label>
    <% elsif @list.budget < @list.items.sum(:price) %>
        <label style="color:red">$<%= @list.budget %></label>
    <% end %>
        
</h2>

<% if @list.items.any? %>
    <%= render @list.items %><br>
    <label> <strong> TOTAL: <%= @list.items.sum(:price).truncate(2) %> </strong></label>
    <% end %> <br><br>

<Label>ADD ITEM:</Label>
<%= render 'items/form', item: @list.items.build %>

<%= link_to "Edit Shopping List details", edit_shopping_list_path(@list)%> |
<%= link_to "Back", user_shopping_lists_path(current_user)%>